@media screen and (min-width: 768px){
    /*nav*/
    nav {
        flex-direction: row;
        justify-content:space-around

    }
    nav ul {
        flex-direction: row;
        width: 20%;
    }
}
    